header-height = 60px
radius-theme-size = 4px
bg-theme-color = #FAFCFF // 背景主题色
bg-modifier-color = #E6E8EB // 背景修饰色
bg-reverse-color = #2D2F33 // 背景反色
line-theme-color = #CDD0D6 // 线的主题色
line-modifier-color = #fff // 线的修饰色
font-theme-color = #303133 // 字体颜色
font-modifier-color = #909399 // 字体修饰色
font-title-color = #303133 // 字的标题颜色
bg-color-red = #FF4E50
bg-color-orange = #FA6900
bg-color-blue = #69D2E7
bg-color-green = #A7DBD8
padding-space = 8px // 间距
font-size-h = 12px // h标签基础字体大小 一般使用倍数
font-size-p = 16px // p标签基础字体大小
area-width = 1200px
